@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}

header nav {
  background-color: #562eff;
  display: flex;
  align-items: center;
  height: 94px;
  justify-content: space-between;
}
header nav .nav__left {
  display: flex;
  align-items: center;
  width: 40.42px;
  height: 51px;
  margin-left: 6rem;
}
header nav .nav__left span {
  margin-left: 1.5rem;
  color: #ffffff;
  font-size: 2.2rem;
}
header nav .nav__left img {
  width: 100%;
  height: 100%;
}
header nav .nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .nav__right li a,
header nav .nav__right img {
  margin-right: 4rem;
}
main {
  background-color: #f3f1ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1300px;
  padding-bottom: 2rem;
}

.container {
  background-color: #ffffff;
  width: 60%;
  margin-top: 35px;
  border-radius: 5px;
  padding-bottom: 2rem;
}
.top__players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 4.8rem;
  margin: 3rem 3rem;
}
.top__players .player {
  display: flex;
  align-items: center;
}
.top__players .player img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.top__players .player span {
  margin-left: 1.2rem;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 800;
}
.section__container h2 {
  color: #562eff;
  margin: 2rem 0 0 3rem;
}
.section__container hr {
  border: 0.5px solid #d1d1d1;
  margin: 0 1.5rem;
}
.blogs__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: 3rem 0 0 3rem;
}
.blogs__container .blog .blog-img img {
  width: 177px;
  height: 117px;
}
.blogs__container .blog {
  display: flex;
}
.blogs__container .blog .blog-info .blog-title {
  display: flex;
  margin: 0.2rem 1rem;
  color: #000000;
  font-size: 20px;
  line-height: 2.2rem;
}
.blogs__container .blog .blog-info p {
  margin: 0.5rem 1rem;
}
.blogs__container .blog .blog-info p a {
  color: #562eff;
}
.courses__section > h2 {
  margin: 2.2rem 0 0 2rem;
  color: #562eff;
}
.courses__section.container .courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.8rem;
  padding: 1.3rem 1.5rem;
}
.courses__section.container .courses .course {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.089);
  border-radius: 20px;
  width: 252px;
  padding-bottom: 1.5rem;
}
.courses__section.container .courses .course .course__img img {
  width: 224px;
  height: 104px;
  margin: 13px 0 0 13px;
}
.courses__section.container .courses .course .course__info .course-title {
  margin: 10px 0 10px 13px;
  font-size: 18px;
}
.courses__section.container .courses .course .course__info .course-instructor {
  margin-left: 13px;
}
.courses__section.container .courses .course .course__outline {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px 13px;
}
.courses__section.container .courses .course .course__outline span.rating {
  margin-left: -0.8rem;
  margin-top: 0.1rem;
}
.courses__section.container
  .courses
  .course
  .course__outline
  .course__ratings
  i {
  font-size: 0.7rem;
  color: gold;
}
.courses__section.container .courses .course .course__outline .course-duration {
  margin-right: 1.1rem;
  margin-top: -0.1rem;
  padding: 0.3rem 0.5rem;
  background-color: #ed6b4f;
  border-radius: 30px;
}
